:root{
    --azul_oscuro: #003972;
    --blanco: #ffffff;
    --gris_oscuro: #595959;
    --gris_claro: #c4c4c4;
    --rojo: #ff0c0c;
    --verde: #24a804;
    --amarillo: #eeba00;
    --amarillo_claro: #ffeeb1;
    --rojo_claro: #fed8d8;
    --azul_claro: #b5e8ff;
    --azul_intermedio: #007bb2;
}

.title_parameterization{
    border: 1px solid var(--gris_claro);
    box-shadow: 5px 5px 9px var(--gris_claro);
}

.title_parameterization h1{
    text-align: center;
    color: var(--azul_oscuro);
}

.title_parameterization .btn-block{
    background-color: var(--amarillo);
    color: var(--blanco);
}

.search_parameterization{
    background-color: var(--azul_oscuro);
    color: var(--blanco);
    position: relative;
    top: 7px;
}
