:root{
    --azul_oscuro: #003972;
    --blanco: #ffffff;
    --gris_oscuro: #595959;
    --gris_claro: #c4c4c4;
    --rojo: #ff0c0c;
    --verde: #24a804;
    --amarillo_botones: #eeba00;
    --amarillo_claro: #ffeeb1;
    --rojo_claro: #fed8d8;
    --azul_claro: #b5e8ff;
    --azul_intermedio: #007bb2;
}
